In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

In [ ]:
# all_data_df = pd.read_csv('data/WPP2024_Demographic_Indicators_Medium.csv', low_memory=False)
# pop_df = pd.read_csv('data/WPP2024_TotalPopulationBySex.csv', low_memory=False)
# note_df = pd.read_csv('data/WPP2024_Locations_notes.csv')
past_pop_df = pd.read_csv('data/WPP2024_Population1JanuaryBySingleAgeSex_Medium_1950-2023.csv', low_memory=False)
future_pop_df = pd.read_csv('data/WPP2024_Population1JanuaryBySingleAgeSex_Medium_2024-2100.csv', low_memory=False)

In [29]:
set(past_pop_df.columns) == set(future_pop_df.columns)
past_pop_df.columns

Index(['SortOrder', 'LocID', 'Notes', 'ISO3_code', 'ISO2_code', 'SDMX_code',
       'LocTypeID', 'LocTypeName', 'ParentID', 'Location', 'VarID', 'Variant',
       'Time', 'MidPeriod', 'AgeGrp', 'AgeGrpStart', 'AgeGrpSpan', 'PopMale',
       'PopFemale', 'PopTotal'],
      dtype='object')

In [30]:
past_pop_df

,SortOrder,LocID,Notes,ISO3_code,ISO2_code,SDMX_code,LocTypeID,LocTypeName,ParentID,Location,VarID,Variant,Time,MidPeriod,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
0,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,2,Medium,1950,1950,0,0,1,1222.011,1190.300,2412.311
1,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,2,Medium,1950,1950,1,1,1,1080.978,1052.430,2133.408
2,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,2,Medium,1950,1950,2,2,1,1019.340,981.115,2000.455
3,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,2,Medium,1950,1950,3,3,1,956.094,908.651,1864.745
4,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,2,Medium,1950,1950,4,4,1,877.937,823.089,1701.026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4148065,326.0,876,2,WLF,WF,876.0,4.0,Country/Area,957.0,Wallis and Futuna Islands,2,Medium,2023,2023,96,96,1,0.000,0.002,0.002
4148066,326.0,876,2,WLF,WF,876.0,4.0,Country/Area,957.0,Wallis and Futuna Islands,2,Medium,2023,2023,97,97,1,0.000,0.002,0.002
4148067,326.0,876,2,WLF,WF,876.0,4.0,Country/Area,957.0,Wallis and Futuna Islands,2,Medium,2023,2023,98,98,1,0.000,0.000,0.000
4148068,326.0,876,2,WLF,WF,876.0,4.0,Country/Area,957.0,Wallis and Futuna Islands,2,Medium,2023,2023,99,99,1,0.000,0.000,0.000
4148069,326.0,876,2,WLF,WF,876.0,4.0,Country/Area,957.0,Wallis and Futuna Islands,2,Medium,2023,2023,100+,100,-1,0.000,0.000,0.000